.container {
    width: 100%;
    height: 100%;
    background: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    padding-top: 0;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form p {
    color: #555;
    font-weight: 300;
    font-size: small;
    margin-bottom: 5px;
    
}

.alert {
    display: none;
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: #fff;
    margin-bottom: 10px;
    
}

.alert1 {
    display: none;
    text-align: center;
    padding: 10px;
    background: #e01b1b;
    color: #fff;
    margin-bottom: 10px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 16;

}

form button {
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.contact-logo{
    height: 100px;
    display: block;
    margin: 0 auto 20px;
}