footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
    margin-top: auto;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo{
    height: 160px;
}

@media screen and  (max-width: 640px) {
    .footer-content .logo {
        height: 100px;
    }
    .social-link1 {
        display: block;
    }
    .social-link {
        display: block;
    }
}


.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    
}

.footer-title{
    margin-top: 80px;
    color: #fff;
}

.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
    
}

.social-link1 {
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
    text-decoration: none;
}

.social-link:nth-child(1){
    margin-left: 0;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    font-size: small;
    font-weight: lighter;
}

.footer-credit a {
    color: #fff;
    text-decoration: none;
    
}
