@import './nav.css';
@import './footer.css';
@import './cart.css';

* {
    margin: 0;
    padding: 0;
  }
  
div h2 {
    border-bottom: 1px solid black;
    color:  #ffffff;
    background-color: #555;
    text-align: center;
    font: 14px Roboto sans-serif;
    padding: 9px;
    
  }

  .hero-section .background{
    width: 100%;
    margin: auto;
    height: auto;
    background-size: cover;
    display: flex;
    overflow: auto;
    
  }

  @media screen and (max-width: 600px) {
    .hero-section {
      width: 100%;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  }

.hero-section .logo{
    width: 55%;
    height: auto;
    display: block;
    margin: auto;
    padding-left: 42%;
    text-align: center;
    position: absolute;
    overflow: auto;
    margin-top: 30px;
    
}

.hero-section .sub-heading{
    width: 100%;
    height: auto;
    padding-left: 36%;
    margin-top: 15%;
    overflow: auto;
    color: #555;
    font-size: 2vw;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    
}


/* Collections */

.collection-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection{
  position: relative;
}

.collection img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  
}

@media screen and  (max-width: 640px) {
  .collection p {
    font-size: 20px;
  }
}


.collection:nth-child(3){
  grid-column: span 2;
  margin-bottom: 10px;
}



